.no-border {
    border: 0;
    box-shadow: none; 
}

.valor {
    font-size:40px; 
    margin-left: -30px;
    margin-top: 18px; 
    color: green; 
}

.filtrar {
    margin-left: 100px;
}

.espaco20 {
    margin-left: 20px;
}

.tableFixHead    { overflow-y: auto; height: 250px; }
.tableFixHead th { position: sticky; top: 0; }

